<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<div id="wrapper">

    <div id="page-wrapper" class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ajouter un tips</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">

                                <form action="#" th:action="@{/addtips}" th:object="${tiphtml}" method="post">
                                    <input type="hidden" th:field="*{id}" />
                                    <input type="hidden" th:field="*{noteTips}" value="0"/>
                                    <p>Titre: <input type="text" th:field="*{titre}" /></p>
                                    <p>Commentaire: <input type="text" th:field="*{commentaire}" /></p>
                                    <p>Auteur: <input type="text" th:field="*{auteur}" /></p>
                                    <p>Note: <input type="text" th:field="*{noteG}" /></p>
                                    <p>Ville: <select th:field="*{ville}">
                                        <option th:each="ville : ${dataVilles}" th:value="${ville.id}" th:text="${ville.Nom}"></option>
                                    </select></p>
                                    <p>Categorie: <select th:field="*{categorie}">
                                        <option th:each="categorie : ${dataCategories}" th:value="${categorie.id}" th:text="${categorie.Nom}"></option>
                                    </select></p>
                                    <p><input type="submit" value="Submit" /></p>
                                </form>

                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

</html>
