<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:td="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="${tiphtml.ville.nom}"></title>
  <link rel="stylesheet" href="http://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="static/css/Header-Dark.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body class="bg-light">
<div class ="header-dark">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
     <div th:text="${tiphtml.ville.nom + '    -    ' + tiphtml.categorie.nom} ">
     </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
    <div th:each="categorie : ${dataCategorie}">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/cityTips/__${tiphtml.ville.id}__/__${categorie.id}__}" th:text="  ${categorie.nom}  "/>
    </li>
  </div>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:href="@{/}">TA RACE</button>
      </form>
    </div>
  </nav>
</div>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container">
<div class="row">
  <div class="col-md-3">
    <div class="sticky-top">
      <form class="text-center border border-light p-5" action="#" th:action="@{/addtips/__${tiphtml.ville.id}__/__${tiphtml.categorie.id}__}" th:object="${tiphtml}" method="post">

        <p class="h4 mb-4">Laissez un commentaire !</p>
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{titre}" class="form-control mb-4" placeholder="Titre">
        <input type="text" th:field="*{auteur}" class="form-control mb-4" placeholder="Nom">
        <div class="form-group">
          <textarea class="form-control rounded-0" th:field="*{commentaire}" rows="3" placeholder="Commentaire"></textarea>
        </div>
        <input type="text" th:field="*{noteG}" class="form-control mb-4" placeholder="Note">
        <button class="btn btn-info btn-block" type="submit">Envoyer</button>
      </form>
    </div>
  </div>
  <div class="col-sm-8">
    <tr th:each="tip : ${data}">
      <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
          <div class="pull-left image">
            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
          </div>
          <div class="pull-left meta">
            <div class="title h5">
              <td th:text="${tip.auteur}"></td>
              a laissé un commentaire.
            </div>
          </div>
        </div>
        <div class="post-description">
          <p><table class="table">
          <tr>
            <th>titre</th>
            <th>commentaire</th>
            <th>note</th>
          </tr>
            <td th:text="${tip.titre}"></td>
            <td th:text="${tip.commentaire}"></td>
            <td th:text="${tip.noteG}"></td>
        </table></p>
          <div class="stats">
            <td th:text="${tip.noteTips}"></td>
            <a th:href="@{/plusOne/__${tip.id}__}" class="btn btn-default stat-item">
              <i class="fa fa-thumbs-up icon"></i>2
            </a>
            <a th:href="@{/minusOne/__${tip.id}__}" class="btn btn-default stat-item">
              <i class="fa fa-thumbs-down icon"></i>12
            </a>
          </div>
        </div>
      </div>
    </tr>
</div>
  </div>
</div>
</body>
</html>
