<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:td="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table>

  <tr>
    <th>
      id
    </th>
    <th>ville</th>
    <th>pays</th>
    <th>categorie</th>
    <th>titre</th>
    <th>auteur</th>
    <th>commentaire</th>
    <th>note</th>
    <th>vote du public</th>
  </tr>
  <tr th:each="tip : ${data}">
    <td th:text="${tip.id}"></td>
    <td th:text="${tip.ville.Nom}"></td>
    <td th:text="${tip.ville.Pays}"></td>
    <td th:text="${tip.categorie.Nom}"></td>
    <td th:text="${tip.titre}"></td>
    <td th:text="${tip.auteur}"></td>
    <td th:text="${tip.commentaire}"></td>
    <td th:text="${tip.noteG}"></td>
    <td th:text="${tip.noteTips}"></td>
  </tr>
</table>
</body>
</html>