<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:td="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="${tiphtml.ville.nom}"></title>
  <link rel="stylesheet" href="http://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
     <div th:text="${tiphtml.ville.nom + '    -    ' + tiphtml.categorie.nom} ">
     </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
    <div th:each="categorie : ${dataCategorie}">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/cityTips/__${tiphtml.ville.id}__/__${categorie.id}__}" th:text="  ${categorie.nom}  "/>
    </li>
  </div>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:href="@{/}">Accueil</button>
      </form>
    </div>
  </nav>
</header>
<div class="container">
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">

              <form action="#" th:action="@{/addtips/__${tiphtml.ville.id}__/__${tiphtml.categorie.id}__}" th:object="${tiphtml}" method="post">
                <input type="hidden" th:field="*{id}" />
                <p>Titre: <input type="text" th:field="*{titre}" /></p>
                <p>Commentaire: <input type="text" th:field="*{commentaire}" /></p>
                <p>Auteur: <input type="text" th:field="*{auteur}" /></p>
                <p>Note: <input type="text" th:field="*{noteG}" /></p>
                <p><input type="submit" value="Submit" /></p>
              </form>
        <!-- /.panel-body -->
      </div>
</div>
  </div>
  <div>
    <a href="#"><i class="fa fa-caret-up 20px"></i></a>
  </div>
  <div>
    <a href="#"><i class="fa fa-caret-down 20px"></i></a>
  </div>
  <div class="col-md-9">
  <table class="table">
  <tr>
    <th>
      id
    </th>
    <th>ville</th>
    <th>pays</th>
    <th>categorie</th>
    <th>titre</th>
    <th>auteur</th>
    <th>commentaire</th>
    <th>note</th>
    <th>vote du public</th>
    <th>Voter</th>
    <th>Downvoter</th>
  </tr>
  <tr th:each="tip : ${data}">
    <td th:text="${tip.id}"></td>
    <td th:text="${tip.ville.Nom}"></td>
    <td th:text="${tip.ville.Pays}"></td>
    <td th:text="${tip.categorie.Nom}"></td>
    <td th:text="${tip.titre}"></td>
    <td th:text="${tip.auteur}"></td>
    <td th:text="${tip.commentaire}"></td>
    <td th:text="${tip.noteG}"></td>
    <td th:text="${tip.noteTips}"></td>
    <td><a th:href="@{/plusOne/__${tip.id}__}">+</a></td>
    <td><a th:href="@{/minusOne/__${tip.id}__}">-</a></td>
  </tr>
</table>
</div>
</div>
</div>
</body>
</html>
