<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:td="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="http://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="static/css/Header-Dark.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Bienvenue sur TipsZéAstuces.com</h1>
    <p class="lead">Le site en vogue dans le monde du barroudage underground ! Retrouve ici les meilleurs bons plans pour voyager sans galère man ! Fais un tour et mets à l'aise en lachant un max de coms !!!</p>
  </header>
  <div class="row text-center">
    <tr th:each="ville : ${data}">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" th:src="@{/img/__${ville.image}__}" alt="">
        <div class="card-body">
          <h4 class="card-title"> <td ><a th:href="@{/cityTips/__${ville.id}__}" th:text="${ville.Nom}"/></td></h4>
          <p class="card-text">située en <td th:text="${ville.Pays}"></td>  cette ville possède sur notre site une note moyenne de : </p>
          <h4> <td><div th:id="${ville.id}"/></td></h4> (sur 5)
        </div>
      </div>
    </div>
    </tr>
  </div>
</div>
</body>
</html>

<script type="text/javascript"
        src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<script type="text/javascript">
    function getNoteAjax(i) {
        $('#' + i).load('/noteGeneraleVille/' + i + ' #number');
        console.log($('#' + i));

/*
        $.ajax({
            url : '/noteGeneraleVille/' + i,
            datatype : 'text',
            success : function(data) {
                console.log(data);
                console.log(jQuery(data));
                $('#' + i).html(data);
                $('#' + i).children('meta,link,title,style').remove();
            }

        });
        */
    }
</script>

<script th:inline="javascript" type="text/javascript" >
    $( document ).ready(function() {
        /*<![CDATA[*/
        var data = /*[[${data}]]*/ 'test';
        /*]]>*/
        console.log(data);
        $.each(data, function (index, value) {
            console.log(value);
            getNoteAjax(value.id);
        });
    });



</script>

</html>